
:root {
  --neutral-button: #9ca3af;  /* Neutral grey for generic buttons */
  --neutral-button-hover: #6b7280; /* Darker grey for hover state */
}

.app-container {
  max-width: 600px;
  margin: 0 auto;
  height: 100%;
}

.calendar-container {
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.calendar-custom {
  --ion-color-primary: #ffffff !important;
  --ion-color-primary-contrast: #000000 !important;
}

.calendar-custom::part(calendar-day) {
  color: var(--ion-text-color);
}

.calendar-custom::part(calendar-day-active) {
  color: #000000 !important;
  background-color: #ffffff !important;
}


/* Update existing styles */
.habit-action-icon {
  font-size: 24px;
  min-height: 44px;
  min-width: 44px;
  color: var(--neutral-button);
}

.habit-action-icon:hover {
  color: var(--neutral-button-hover);
}

/* Center align the toolbar title */
.center-title {
  text-align: center;
}

ion-item.habit::part(native) {
  --border-color: rgba(0,0,0,0);
}

.habitDivider {
  background: #353535FF;
  height: 1px;
}

.dateEditModal {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auto-height-modal {
  --height: auto;
}