:root {
  --neutral-button: #9ca3af;
  /* Neutral grey for generic buttons */
  --neutral-button-hover: #6b7280;
  /* Darker grey for hover state */
  --calendar-height: 480px;
}

.app-container {
  max-width: 600px;
  margin: 0 auto;
  height: 100%;
}

.top-toolbar {
  height: auto;
}

.app-title {
  pointer-events: none;
  height: 100%;
  width: 100%;
  overflow: visible;
  padding: 0;
  z-index: 50;
  font-family: Arial, sans-serif;
  font-size: 20px;
}

.cursive {
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  margin-left: 3px;
}

.calendar-container {
  background: var(--ion-item-background);
  height: var(--calendar-height);
  position: relative;
}


.calendar-custom {
  width: 100%;
  height: 100%;
  padding: 20px;
}


.calendar-month-grid {
  grid-template-rows: (6, 2fr) !important;
  }

.calendar-custom::part(calendar-day) {
  color: var(--ion-text-color);
  margin: 10px 0;
}

.calendar-custom::part(calendar-day active) {
background: inherit;

}

.calendar-custom::part(calendar-day active)::after {
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  border-radius: 50%;
  background: transparent;
  z-index: -1;
  border: 3px solid var(--ion-text-color);
}

.calendar-custom::part(calendar-day today)::after {
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  border-radius: 50%;
  background: transparent;
  z-index: -1;
  border: 1px solid var(--ion-text-color);
}


.habit-action-icon {
  font-size: 24px;
  min-height: 44px;
  min-width: 44px;
  color: var(--neutral-button);
}

.habit-action-icon:hover {
  color: var(--neutral-button-hover);
}

.center-title {
  text-align: center;
}

ion-item.habit::part(native) {
  --border-color: transparent;
}

.habitDivider {
  background: #353535FF;
  height: 1px;
}

.dateEditModal {
  width: 100%;
  background-color: var(--ion-item-background);
  height: 150px;
  display: flex;
  justify-content: center;
}

.auto-height-modal {
  --height: auto;
}

.habit-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  cursor: pointer;
}

.habit-container {
  display: flex;
  width: 100%;
  padding: 12px 0;
  flex-direction: row;
}

.habit-color-bar {
  width: 24px;
  height: 100%;
  flex-shrink: 0;
}

.habit-reorder {
  margin: 10px;
  opacity: 0.3;
  cursor: grab;
}

.habit-content {
  flex: 0;
  display: flex;
  flex-direction: column;
  gap: 0px;
  margin: auto;
}

.habit-header {
  display: flex;
  height: 50px;
  align-items:center;
  justify-content: space-between;
}

@keyframes double-hop {
  0% { transform: translate(0, 0) rotate(0deg); }
  2.5% { transform: translate(1px, -1.5px) rotate(-1.25deg); }
  5% { transform: translate(1px, -3px) rotate(-2.5deg); }
  7.5% { transform: translate(1px, -4px) rotate(-3.75deg); }
  10% { transform: translate(1px, -5px) rotate(-5deg); }
  15% { transform: translate(1.5px, -8px) rotate(-7.5deg); }
  20% { transform: translate(2px, -11px) rotate(-10deg); }
  25% { transform: translate(2.5px, -13px) rotate(-8.75deg); }
  30% { transform: translate(3px, -15px) rotate(-7.5deg); }
  35% { transform: translate(3.5px, -11.5px) rotate(-6.25deg); }
  40% { transform: translate(4px, -8px) rotate(-5deg); }
  45% { transform: translate(4.5px, -4px) rotate(-2.5deg); }
  50% { transform: translate(5px, 0) rotate(0deg); }
  55% { transform: translate(4.5px, -2.5px) rotate(-1.25deg); }
  60% { transform: translate(4px, -5px) rotate(-2.5deg); }
  65% { transform: translate(3.5px, -6px) rotate(-3.75deg); }
  70% { transform: translate(3px, -7px) rotate(-5deg); }
  75% { transform: translate(2.5px, -6px) rotate(-3.75deg); }
  80% { transform: translate(2px, -5px) rotate(-2.5deg); }
  85% { transform: translate(1.5px, -4px) rotate(-1.25deg); }
  90% { transform: translate(1px, -3px) rotate(-1.25deg); }
  95% { transform: translate(0.5px, -1.5px) rotate(-0.625deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}

@keyframes shake-takeoff {
  0% { transform: translate(0, 0) skew(0deg); color: inherit; }
  15% { transform: translate(1px, -1px) skew(3deg); color: rgb(38, 219, 255); }
  30% { transform: translate(1px, -1px) skew(3deg); color: rgb(199, 30, 255); }
  45% { transform: translate(1px, -1px) skew(3deg); color: rgb(255, 188, 30); }
  60% { transform: translate(1px, -1px) skew(3deg); color: rgb(30, 255, 68); }
  75% { transform: translate(1px, -1px) skew(3deg); color: rgb(30, 128, 255); }
  100% { transform: translate(0, 0) skew(0deg); color: inherit; }
  0% { transform: translate(0, 0) rotate(0deg); }
  5% { transform: translate(-1px, 0) rotate(-0.5deg); }
  10% { transform: translate(1px, -1px) rotate(0.5deg); }
  15% { transform: translate(-1px, -2px) rotate(-0.5deg); }
  20% { transform: translate(1px, -3px) rotate(0.5deg); }
  25% { transform: translate(-2px, -4px) rotate(-0.5deg); }
  30% { transform: translate(2px, -5px) rotate(0.5deg); }
  35% { transform: translate(-2px, -6px) rotate(-0.5deg); }
  40% { transform: translate(2px, -7px) rotate(0.5deg); }
  45% { transform: translate(-1px, -8px) rotate(-0.5deg); }
  50% { transform: translate(1px, -7px) rotate(0.5deg); }
  55% { transform: translate(-1px, -6px) rotate(-0.5deg); }
  60% { transform: translate(1px, -5px) rotate(0.5deg); }
  65% { transform: translate(-1px, -4px) rotate(-0.5deg); }
  70% { transform: translate(1px, -3px) rotate(0.5deg); }
  75% { transform: translate(-1px, -2px) rotate(-0.5deg); }
  80% { transform: translate(1px, -1px) rotate(0.5deg); }
  85% { transform: translate(-1px, -1px) rotate(-0.5deg); }
  90% { transform: translate(1px, 0) rotate(0.5deg); }
  95% { transform: translate(-1px, 0) rotate(-0.5deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}

@keyframes triple-fire {
  0% { transform: translate(0, 0) skew(0deg); color: inherit; }
  15% { transform: translate(1px, -1px) skew(3deg); color: orange; }
  40% { transform: translate(1px, -1px) skew(3deg); color: rgb(255, 79, 30); }
  60% { transform: translate(1px, -1px) skew(3deg); color: rgb(236, 98, 73); }
  100% { transform: translate(0, 0) skew(0deg); color: inherit; }
  3.33% { transform: translate(1px, -1px) skew(2deg); }
  6.66% { transform: translate(-1px, 1px) skew(-1deg); }
  10% { transform: translate(1px, -1px) skew(3deg); }
  13.33% { transform: translate(-1px, 1px) skew(-2deg); }
  16.66% { transform: translate(1px, -1px) skew(1deg); }
  20% { transform: translate(-1px, -1px) skew(-3deg); }
  23.33% { transform: translate(1px, 1px) skew(2deg); }
  26.66% { transform: translate(-1px, -1px) skew(-1deg); }
  30% { transform: translate(1px, -1px) skew(3deg); }
  33.33% { transform: translate(-1px, 1px) skew(-2deg); }
  36.66% { transform: translate(1px, -1px) skew(1deg); }
  40% { transform: translate(-1px, -1px) skew(-3deg); }
  43.33% { transform: translate(1px, 1px) skew(2deg); }
  46.66% { transform: translate(-1px, -1px) skew(-1deg); }
  53.33% { transform: translate(-1px, 1px) skew(-2deg); }
  56.66% { transform: translate(1px, -1px) skew(1deg); }
  60% { transform: translate(-1px, -1px) skew(-3deg); }
  63.33% { transform: translate(1px, 1px) skew(2deg); }
  66.66% { transform: translate(-1px, -1px) skew(-1deg); }
  70% { transform: translate(1px, -1px) skew(3deg); }
  73.33% { transform: translate(-1px, 1px) skew(-2deg); }
  76.66% { transform: translate(1px, -1px) skew(1deg); }
  80% { transform: translate(-1px, -1px) skew(-3deg); }
  83.33% { transform: translate(1px, 1px) skew(2deg); }
  86.66% { transform: translate(-1px, -1px) skew(-1deg); }
  90% { transform: translate(1px, -1px) skew(3deg); }
  93.33% { transform: translate(-1px, 1px) skew(-2deg); }
  96.66% { transform: translate(1px, -1px) skew(1deg); }
}
.habit-details {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.habit-content {
  transition: height 0.3s ease-in-out;
}

.ion-icon[slot="icon-only"] {
  transition: opacity 0.2s ease-in-out;
}
/* Existing style */
.history-grid {
  margin-top: 12px;
}

.history-grid.hide-grid-elements {
  margin-top: 0px;
}

/* New style to hide elements when the class is applied */
.history-grid.hide-grid-elements > * {
  display: none !important;
}


/* Material Design styles */
ion-segment-button.md::part(native) {
  color: var(--ion-text-color); 
}
/* Use the custom variable for indicator background */
ion-segment-button.md::part(indicator-background) {
  height: 4px;
  background: var(--indicator-color);
}

/* iOS styles */
ion-segment-button.ios::part(native) {
  color: var(--indicator-color); /* Use custom variable for indicator */
}

.segment-button-checked.ios::part(native) {
  color: #fff; /* Consider making this customizable as well */
}


@keyframes habitLongPress {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

.habit-long-press {
  animation: habitLongPress 1s ease-in-out;
}